<div class="container mt-4">
    <h2>Gestión de Aplicación</h2>
    <div>
        
            <a href="/Medicamentos" class="btn btn-primary btn-lg">Gestión de Medicamentos</a>
            <a href="/Usuarios" class="btn btn-primary btn-lg">Gestión de Usuarios</a>
            <a href="/XmlWebService" class="btn btn-primary btn-lg">XML / WebService Service</a>

       
    </div>
</div>